---
import { Image } from 'astro:assets';
import Button from '../Button.astro';

import logo from '../../assets/images/global/logo.svg';
---

<header
  class='h-[4.5rem] flex justify-center sticky top-0 z-30 border-[#E3E3E3] border-b bg-white'>
  <div
    class='container mx-auto max-w-screen-2xl px-5 lg:px-8 flex items-center justify-between'>
    <figure class='relative z-20'>
      <Image src={logo} alt='logo' />
    </figure>
    <Button isSM />
  </div>
</header>
