<section class='bg-black px-5 lg:px-8 pt-4 pb-12 lg:pt-6 lg:pb-10'>
  <div class='container max-w-[46rem] mx-auto'>
    <form action='' autocomplete='off'>
      <input type='email' required />
      <button type='submit'>Subscribe</button>
    </form>
  </div>
</section>
