---
interface Props {
  text: string;
  bgColor?: string;
  textLight?: boolean;
}

const { text, bgColor = '#333333', textLight = true } = Astro.props;
---

<div
  style={{ backgroundColor: bgColor }}
  class={`${textLight ? 'text-white' : 'text-black'} text-sm px-2 py-[5px]`}>
  {text}
</div>
